.top-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D8A25E;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container .logo {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.nav-list li a .fa-icon {
  margin-right: 5px;
}
