:root {
  --primary-color: #004C54; /* Deep Teal */
  --secondary-color: #009688; /* Medium Teal */
  --accent-color: #FF7043; /* Coral Orange */
  --background-color: #F5F7FA; /* Light Gray */
  --text-color: #333333; /* Dark Gray */
  --success-color: #4CAF50; /* Green */
  --error-color: #D32F2F; /* Red */
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color); /* Dark Gray for text */
  background-color: var(--background-color); /* Light Gray background */
}
