/* Global Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Ensure you include a clean font */
    background-color: #dfe4e5; /* Light background for better contrast */
}

/* Container for Examination Findings */
.examination-findings-container {
    padding: 20px;
    max-width: 800px;
    margin: auto; /* Center the container */
}

.finding-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
  }
  
  .finding-name {
    flex: 1;
    font-weight: 600;
  }
  
  .checkbox-item {
    margin-left: 16px;
  }
  
  .text-field {
    flex: 2;
  }
  
  .findings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 16px;
  }
  
/* Card Styles */
.MuiCard-root {
    margin-bottom: 20px;
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

/* Card Header Styles */
.MuiCardHeader-root {
    background-color: #002432; /* Dark background for headers */
    color: #ffffff; /* White text for contrast */
    border-top-left-radius: 8px; /* Round top corners */
    border-top-right-radius: 8px; /* Round top corners */
}

/* Typography Styles */
.MuiTypography-body1,
.MuiTypography-body2 {
    color: #002432; /* Dark text for readability */
}

.MuiTypography-h6 {
    color: #27c7b8; /* Highlight color for categories */
    margin: 10px 0;
}

/* Select Styles */
.MuiSelect-root {
    background-color: #ffffff; /* White background for the select input */
    border-radius: 4px; /* Rounded corners */
    margin-top: 10px; /* Space above the select input */
}

.MuiSelect-icon {
    color: #27c7b8; /* Icon color */
}

/* TextField Styles */
.MuiTextField-root {
    margin-top: 10px; /* Space above text fields */
}

/* Checkbox Styles */
.MuiFormControlLabel-root {
    color: #002432; /* Checkbox label color */
}

/* Button Styles */
.MuiButton-root {
    background-color: #27c7b8; /* Primary button color */
    color: #ffffff; /* White text for buttons */
    text-transform: none; /* No uppercase for button text */
}

.MuiButton-root:hover {
    background-color: #f78837; /* Change on hover */
}

/* Responsive Styles */
@media (max-width: 600px) {
    .examination-findings-container {
        padding: 10px; /* Less padding on small screens */
    }

    .MuiCard-root {
        margin-bottom: 15px; /* Smaller margins */
    }
}
